<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Database of Professors</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/login">{{session.uname}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>  
      <!-- <a class="navbar-brand" href="/login">{{session.uname}}</a>
        <button class="<!doctype html>
          <html lang="en"> -->
            <!--  <head> -->
              <!-- Required meta tags -->
              <!-- <meta charset="utf-8">
              <meta name="<!doctype html>
              <html lang="en">
                <head> -->
                  <!-- Required meta tags -->
                  <!-- <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
               
                  <!-- <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Database of Professors</title>
  </head>
  <body> -->
 <!-- rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
              
                  <title>Database of Professors</title>
                </head>
                <body>
              stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          
              <title>Database of Professors</title>
            </head>
            <body> -->
          <!-- navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> -->
        <!-- </button> -->
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/professor_default">Professors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/school_default">Schools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add_prof_form">Add a professor</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      
    <div class="container"> 

        <p> 
            <h1>{{ prof_table.get('pname') }}</h1><br/>
            
            School: {{ prof_table.get('sname') }} |
            Rating: {{ prof_table.get('avgRating') }} |
            Difficulty:  {{ prof_table.get('avgDiff') }} 
            
        </p>

        <p> 
            {% for percent in rec_perc %}  
              {{ percent.get('rec_prec') }}% of reviews recommend this professor
  
            {% endfor %}
        </p>

        <h1>Classes:</h1>
        <p> 
            {% for class in class_table %}
  
              {{ class.get('cname') }} <br/>
  
  
            {% endfor %}
        </p>

        <h1>Reviews:</h1>
        <p> 
            {% for review in review_table %}
  
            <p> ______________________________________________________________________________ </p>

            Difficulty: {{ review.get('difficulty') }} |
            Recommendation: {{ review.get('recommend') }} |
            Likes: {{ review.get('numOfLikes') }} |
            <a href = "{{ url_for('add_like', rid = review.get('rid')) }}" class='btn'>Like</a><br/>
            {{ review.get('description') }} <br/>
  
  
            {% endfor %}
        </p>
        
    </div> 

    <div class="form-popup" id="myForm">
      <form action="{{ url_for('prof_info', pid = prof_table.get('pid')) }}" class="form-container" method="post">
        <h2>Enter the Review Details Here</h2>
        <div class="msg">{{ msg }}</div>
        <label for="overall"><b>Overall Rating</b></label>
        <input type="text" placeholder="Enter Rating(1-5 out of 5)" name="overall" required></br></br>
    
        <label for="difficulty"><b>Difficulty</b></label>
        <input type="text" placeholder="Enter Difficulty(1-5 out of 5)" name="difficulty" required></br></br>

        <label for="recommendation"><b>Would you take Again</b></label><br>
        <input type="radio" name="recommendation" id="Yes" value=1> Yes </input><br> 
        <input type="radio" name="recommendation" id="No" value=0> No </input><br> 

  
        <label for="description"><b>Other Thoughts?</b></label>
        <input type="text" placeholder="Feel Free to Leave a Comment" name="description"></br></br>

        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        
        
      </form>
    </div>

    <script>
      function openForm() {
        document.getElementById("myForm").style.display = "block";
      }
      
      function closeForm() {
        document.getElementById("myForm").style.display = "none";
      }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>